html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: Nunito;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
}
.count {
  color:chocolate;
  display: block;
  font-size: 50vh;
}